[Unit]
Description=DNS caching server.
After=network.target

[Service]
ExecStart=/usr/sbin/dnsmasq --pid-file=/run/dnsmasq.pid
Type=forking
PIDFile=/run/dnsmasq.pid

[Install]
WantedBy=multi-user.target
